<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demographics Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Average Demographics Data by Country</h1>
    <table border="1">
        <tr>
            <th>Country</th>
            <th>Average GDP</th>
            <th>Average Infant Mortality</th>
            <th>Average Unemployment Rate</th>
            <th>Average Urban Population</th>
        </tr>
        {% for data in demographics_data %}
        <tr>
            <td>{{ data['Country'] }}</td>
            <td>{{ data['GDP'] }}</td>
            <td>{{ data['Infant Mortality'] }}</td>
            <td>{{ data['Unemployment'] }}</td>
            <td>{{ data['Urban population'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
